* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    color: #fff;
}

#logoheader {
    max-width: 250px;
}

nav {
    display: flex;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: #000000;
    margin-left: 20px;

}

.background-inicio {
    background-image: url(assets/Imagem-texto-inicial.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    flex-shrink: 0;
}

.texto-inicio {
    width: 477px;
    height: 243px;
    position: absolute;
    left: 147px;
    top: 200px;
    color: #FFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.texto-inicio h1 {
    font-size: 48px;
}

span {
    color: #CD35C0;
}

.sobre-nos {
    width: 100vw;
    height: 100vh;
    background-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 80px 50px;
    flex-direction: column;
}

.sobre-imagem-texto {
    display: flex;
    margin-bottom: 2em;
}

.sobre-nos-texto {
    width: 700px;
    height: 233px;
    flex-shrink: 0;
}

.sobre-nos-texto h1 {
    width: 318px;
    height: 88px;
    color: #CD35C0;
    font-family: Raleway;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sobre-nos-texto p{
    color: #000;
    font-family: Raleway;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cards {
    display: flex;
    gap: 40px;
    background-color: #E0E0E0;
    justify-content: center;
}

.cards-info {
    text-align: center;
    background-color: white;
    width: 350px;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cards-info img {
    width: 100px;
}